body {
    padding: 0px 70px 70px 70px;
}

.a-buffer {
    padding-top: 70px;
}

.block {
    height: 400px;
}

#section {
    position: relative;
}

.revisit {
    color: #444444;
}

.revisit:hover {
    color: #444444;
}
